<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://xsd.oliver-thiele.de/ns/typo3/cms-fluid/7.6/ViewHelpers"
	 data-namespace-typo3-fluid="true"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="DefaultLayout" />
	<f:section name="Main">
		<div class="main-container">
			<div class="main wrapper clearfix">
				<f:if condition="{contentAside}">
					<f:then>
						<article>
					</f:then>
					<f:else>
						<article class="wide">
					</f:else>
				</f:if>
				<f:format.raw>{contentMain}</f:format.raw>
				</article>

				<f:format.raw>{contentAside}</f:format.raw>

			</div> <!-- #main -->
		</div> <!-- #main-container -->
	</f:section>
</div>
